<h1><%= @list.title %></h1>


<h4>Tasks To Do:</h4>
<ul class="todo">
  <% @list.list_items.each do |task| %>
    <% if !task.completed %>
      <li id="<%= dom_id(task)%>">
        <b><%= task.task %></b>
        <% if !task.description.empty? %>
          :
          <%= task.description %>
        <% end %>
        <%= link_to "Mark As Complete", complete_list_list_item_path(@list.id, task.id), method: :patch %>
        <%= link_to "Delete", list_list_item_path(@list.id,task.id), method: :delete,
          data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  <% end %>
</ul>

<h4>Tasks Completed:</h4>
<ul class="completed">
  <% @list.list_items.each do |task| %>
     <% if task.completed %>
       <li id="<%= dom_id(task)%>">
        <b><%= task.task %></b>
          completed on: <%= task.completed %>
        <%= link_to "Delete", list_list_item_path(@list.id,task.id), method: :delete,
          data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  <% end %>
</ul>

<p>
  <%= link_to "New Task", new_list_list_item_path %>
</p>
<p>
  <%= link_to "Back", lists_path %>
</p>
